parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php

	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- '#Cannot access property \$rating on float#'
		- '#Access to an undefined property Cake\\Controller\\Controller::\$AuthUser.#'
		- '#Access to an undefined property Cake\\Controller\\Controller::\$Auth.#'
		- '#Access to an undefined property .+\\Table.+::\$Ratings.#'
