parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php

	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		-
			message: '#Access to an undefined property Cake\\Controller\\Controller::\$AuthUser\.#'
			path: src/Controller/Component/RatingComponent.php
			count: 1
		-
			message: '#Access to an undefined property Cake\\Controller\\Controller::\$Auth\.#'
			path: src/Controller/Component/RatingComponent.php
			count: 1
