parameters:
	autoload_files:
		- bootstrap.php

	ignoreErrors:
		- '#Access to an undefined property Cake\\ORM\\Table|Ratings\\Model\\Behavior\\RatableBehavior::\$Ratings#'
		- '#Binary operation "+" between array|string|null and array|string|null results in an error.#'
		- '#Cannot access property $newRating on float|true.#'
		- '#Access to protected property .+ServerRequest::\$params.#'
